.linksDiv {
    text-align: center;
    margin-bottom: 50px;
}

.divSpace {
    margin-bottom: 50px;
}

.divTimeMachine {
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    color:#999999;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.divThreeDay {
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    color:#999999;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.divSevenDay {
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    color:#999999;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 100px;
}